/*	simple flipping:		*/
.element-item	{
	-webkit-perspective: 1000;
	width: 205px;
	}


.unflipped, .flipped1, .flipped2	{
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	}

.flipped1, .flipped2	{
		-webkit-transform: rotateY(180deg);
	}

.front, .back	{
	-webkit-backface-visibility: hidden;
	z-index: 1;
	width: 185px;
	position: absolute;
	}

.back	{
	-webkit-transform: rotateY(180deg);
	}
	

/* rest of CSS	*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

p, h3	{
	margin: 0;
	padding: 0;
	}
	
.name	{
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	}

.portrait 	{	height: 135px;
					display: block;
					margin: 5px auto 0 auto;
				}	

.range	{
	font-style: italic;
	text-align: center;
	font-size: .8em;
	}

/* ---- isotope ---- */

.isotope {
  border: 1px solid #333;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
	float: left;
	height: 225px;
	margin: 5px;
	padding: 10px;
	background: #888;
	color: #262524;
	border-radius: 1em;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;

  cursor: pointer;
}

.button:hover {
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #B3B3B3;
}

.button.is-checked {
  color: white;
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }




/* political parties	*/
.ind			{ background: #CFCFCF; }
.fed			{ background: #FFC370; }
.dem-rep	{ background: #70FFBF; }
.whig		{ background: #ECFF70; }
.dem			{ background: #00C8FF; }
.rep			{ background: #FF5959; }
